.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login > Button {
  width: 300px;
  background-color: royalblue;
  color: #eff2f5;
  font-weight: 800;
}

.login > Button:hover {
  background-color: white;
  color: royalblue;
}
.login > div > img {
  object-fit: contain;
  height: 250px;
}

.login > div {
  display: flex;
  flex-direction: column;
}
